:root {
    --color-gray-50: #F0F0F0;
    --color-gray-100: #F7F7F8;
    --color-gray-200: #BDCBE0; /* New */
    --color-gray-300: #B3B3B3;
    --color-gray-400: #8D8E90;
    --color-gray-500: #3D3D3D;
    --color-gray-600: #787878;
    --color-gray-700: #354866;
    --color-gray-800: #212121;
    --color-gray-900: #070F15;

    --color-blue-400: #354866;
    --color-blue-500: #084493;

    --color-orange-500: #F5A92F;
}
