@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme static {
  --color-black: var(--color-gray-900);
  --color-primary: var(--color-blue-500);
  --color-secondary: var(--color-orange-500);
}

:root {
  --background: #FAFBFC;
  --foreground: var(--color-gray-900);
  color: var(--foreground);
  background-color: var(--background);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
